Alias /static /var/www/djangotth/static
<Directory /var/www/djangotth/static>
    Require all granted
</Directory>
	
<Directory /var/www/djangotth/Tanishq>
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>
WSGIDaemonProcess djangotth python-path=/var/www/djangotth python-home=/var/www/djangotth/djangotth
WSGIProcessGroup djangotth
WSGIScriptAlias / /var/www/djangotth/Tanishq/wsgi.py